<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>4989</title>

        {% load staticfiles %}
        <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block index_style %}{% endblock %}
    </head>

    <body>
        <header class="hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="/"><h4>4989</h4></a>
                            </div>
                            <div class="col-xs-6 zip-change">
                                {% if user.customer.zipcode.city %}
                                <a href="" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                    {{ user.customer.zipcode.city }}
                                </a>
                                {% else %}
                                <a href="{% url 'join' %}"><i class="fa fa-map-marker" aria-hidden="true"></i> Everywhere </a>
                                {% endif %}
                                <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Change location</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'change_zip' %}" method="POST">{% csrf_token %}
                                                    <div class="input-group">
                                                        <input type="number" class="form-control" placeholder="Enter a valid zipcode" name="zipcode">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-success" type="submit">Update</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </form>
                                            </div><!-- /.modal-body -->
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </div>
                        </div>
                    </div><!--col-xs-3-->
                    <div class="col-xs-6">
                        <form action="{% url 'search' %}" method="GET" class="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="SEARCH" name="q">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                    <div class="col-xs-3">
                        <div class="pull-right">
                            <ul class="nav nav-pills">
                                {% if user.is_authenticated %}
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i> MESSAGES</a></li>
                                        <li><a href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i> STORE</a></li>
                                        <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i> SETTINGS</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i> LOGOUT</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li role="presentation"><a href="{% url 'join' %}">JOIN</a></li>
                                {% endif %}
                                <li role="presentation"><a href="{% url 'post_create' %}">POST</a></li>
                            </ul>
                        </div><!--pull-right-->
                    </div><!--col-xs-3-->
                </div><!--row-->
            </div><!--container-->
            {% load tags %}
            {% get_cats as cats %}
            <div class="container-fluid">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation"><a href="{% url 'list_cat' category='all' %}">All</a></li>
                    {% for cat in cats %}
                    <li role="presentation"><a href="{% url 'list_cat' category=cat.slug %}">{{ cat.kor_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </header>
        {% block content %}
        {% endblock %}
        <footer>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{% static 'js/base.js' %}"></script>

        {% block scripts %}
        {% endblock %}

    </body>
</html>
