{% extends 'base.html' %}
{% block title %}Noritr{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="container">
            <h3>Featured</h3>
        </div>
        {% for item in items_rand %}
        {% include "card.html" %}
        {% endfor %}
        <div class="container">
            <h3>New Arrivals 
                <small><a class="btn btn-default pull-right" href="/list/all" role="button">see more</a></small>
            </h3>
        </div>
        {% for item in items_new %}
        {% include "card.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
