{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<div class="container">
    <div class="row">
        {% for item in items %}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'img/test.jpg' %}" alt="{{ item.title }}">
                <div class="caption">
                    <p>{{ item.title }}</p>
                    <p>{{ item.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
