{% extends 'base.html' %}
{% block title %}Noritr{% endblock %}
{% block content %}
{% load staticfiles %}
{% load tags %}

<div class="container">
    <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url({% static 'img/index.jpg' %}); background-size: cover; background-position: center">
        <div align="center">
            <h1>
                <b>
                    {% if user.is_authenticated %}
                    Welcome, {{ user }}!
                    {% else %}
                    Welcome to 4989
                    {% endif %}
                </b>
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="container">
            <h3>
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Featured
            </h3>
        </div>
        {% for item in items_rand %}
        {% include "card.html" %}
        {% endfor %}

        <div class="container">
            <h3>
                <i class="fa fa-history fa-flip-horizontal" aria-hidden="true"></i>
                New Arrivals 
                <small>
                    <a class="btn btn-default pull-right" href="/list/new" role="button">
                        SEE MORE <i class="fa fa-caret-right" aira-hidden="true"></i>
                    </a>
                </small>
            </h3>
        </div>
        {% for item in items_new %}
        {% include "card.html" %}
        {% endfor %}

        {% if items_saved %}
        <div class="container">
            <h3>
                <i class="fa fa-star-o" aria-hidden="true"></i> Favorites
                {% if items_saved|length >= 6 %}
                <small>
                    <a class="btn btn-default pull-right" href="{% url 'favorites' %}" role="button">
                        SEE ALL <i class="fa fa-caret-right" aira-hidden="true"></i>
                    </a>
                </small>
                {% endif %}
            </h3>
        </div>
        {% for item in items_saved %}
        {% include "card.html" %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
