{% extends 'base.html' %}
{% block title %}
{% if title.kor_name %}
{{ title.kor_name }}
{% elif title == 'new' or title == 'free' %}
{{ title|title }}
{% elif title %}
{{ title }}
{% else %}
{{ search }}
{% endif %}
{% endblock %}

{% block content %}
{% load staticfiles %}
{% load tags %}
<div class="jumbotron">
    <div class="container">
        <div align="center">
            <h2>
            {% if title.kor_name %}
            {{ title.kor_name }}
            {% elif title == 'new' or title == 'free' %}
            {{ title|title }}
            {% elif title %}
            {{ title }}
            {% elif search %}
            Search: {{ search }}
            {% endif %}
            </h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for item in items %}
        {% include "card.html" %}
        {% endfor %}
    </div>
</div>
{% if items.has_other_pages %}
<nav align="center">
    <ul class="pagination pagination-lg">
        {% if items.has_previous %}
        <li>
            {% if title.slug %}
            <a href="/{{ view }}/{{ title.slug|lower }}/{{ items.previous_page_number }}">
            {% elif seller %}
            <a href="/{{ view }}/{{ seller }}/{{ items.previous_page_number }}">
            {% elif search %}
            <a href="/{{ view }}/{{ search }}/{{ items.previous_page_number }}">
            {% else %}
            <a href="/{{ view }}/{{ title|lower }}/{{ items.previous_page_number }}">
            {% endif %}
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a>
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %}

        <li class="page-number">
            <a>
                {% if items.number %}
                {{ items.number }}
                {% else %}
                1
                {% endif %}
            </a>
        </li>

        {% if items.has_next %}
        <li>
            {% if title.slug %}
            <a href="/{{ view }}/{{ title.slug|lower }}/{{ items.next_page_number }}">
            {% elif seller %}
            <a href="/{{ view }}/{{ seller }}/{{ items.next_page_number }}">
            {% elif search %}
            <a href="/{{ view }}/{{ search }}/{{ items.next_page_number }}">
            {% else %}
            <a href="/{{ view }}/{{ title|lower }}/{{ items.next_page_number }}">
            {% endif %}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a>
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
