{% extends 'base.html' %}
{% block title %}{{ category|title }}{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="container">
    <div class="row">
        {% for item in items %}
        <div class="col-xs-6 col-sm-3 col-md-2 card">
            <div class="thumbnail">
                <a href="{% url 'post' url_code=item.url_code %}">
                    {% if item.itemimage_set.all %}
                    <img src="/img/thumbs/{{ item.itemimage_set.all.first }}" alt="{{ item.title }}">
                    {% else %}
                    <img src="{% static 'img/test.jpg' %}" alt="{{ item.title }}">
                    {% endif %}
                </a>
                <div class="caption">
                    <p class="title">{{ item.title }}</p>
                    <p>${{ item.price }}</p>
                    <p>{{ item.city }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<nav align="center">
    <ul class="pagination pagination-lg">
        {% if items.has_previous %}
        <li>
            <a href="/list/{{ category|lower }}/{{ items.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a>
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        <li class="disabled">
            <a>
                {% if items.number %}
                {{ items.number }}
                {% else %}
                1
                {% endif %}
            </a>
        </li>

        {% if items.has_next %}
        <li>
            <a href="/list/{{ category }}/{{ items.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a>
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
