{% extends 'base.html' %}
{% block title %}{{ item.title }}{% endblock %}
{% block content %}
{% load staticfiles %}

<div class="container">
    <h2>{{ item.title }} <span class="label label-danger pull-right">${{ item.price }}</span></h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8" align="center">
            <br>
            <div class="fotorama" data-nav="thumbs" data-fit="contain">
            {% if item.itemimage_set.all %}
                {% for image in item.itemimage_set.all %}
                <img src="/img/{{ image }}" class="img-responsive" alt="{{ item.title }}">
                {% endfor %}
            {% else %}
                <img src="{% static 'img/test.jpg' %}" class="img-responsive" alt="{{ item.title }}">
            {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <br>
            <button type="button" class="btn btn-success btn-lg btn-block">Contact Seller</button>
            <br>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Details:</strong>
                    {{ item.details|linebreaks }}
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Seller:</strong>
                    <p class="pull-right">{{ item.user }}</p>
                </li> 
                <li class="list-group-item">
                    <strong>Location:</strong>
                    <p class="pull-right">{{ item.city }}</p>
                </li> 
                <li class="list-group-item">
                    <strong>Category:</strong>
                    <p class="pull-right">{{ item.category.kor_name }}</p>
                </li> 
            </ul>
        </div>
    </div>
</div>
{% endblock %}
