{% extends 'base.html' %}
{% block title %}{{ item.title }}{% endblock %}
{% block content %}
{% load staticfiles %}
{% load tags %}

<div class="container">
    <h2>{{ item.title }} 
        {% if item.price == '0' %}
        <span class="label label-danger pull-right">FREE</span>
        {% else %}
        <span class="label label-primary pull-right">${{ item.price }}</span>
        {% endif %}
    </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8" align="center">
            <br>
            <div class="fotorama" data-nav="thumbs" data-fit="contain" data-allowfullscreen="true">
                {% if item.itemimage_set.all %}
                {% for image in item.itemimage_set.all %}
                <a href="/img/{{ image }}" alt="{{ item.title }}"><img src="/img/thumbs/{{ image }}"></a>
                {% endfor %}
                {% else %}
                <img src="{% static 'img/test.jpg' %}" class="img-responsive" alt="{{ item.title }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <br>
            {% if not request.user.is_authenticated %}
            <a role="button" class="btn btn-primary btn-lg btn-block" href="/join?next=/post/{{ item.url_code }}">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Message {{ item.user }}
            </a>
            {% elif request.user.is_authenticated and request.user != item.user %}
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#contact">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Message {{ item.user }}
            </button>
            <form method="POST" action="{% url 'message' %}">{% csrf_token %}
                <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Message for {{ item.user }}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Request to buy or ask a question..." name="message" id="focus-contact"></textarea>
                                    <input type="hidden" name="recipient" value="{{ item.user }}">
                                    <input type="hidden" name="item" value="{{ item.url_code }}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Send">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
            <a role="button" class="btn btn-success btn-lg btn-block" href="{% url 'inbox' %}">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Check Inbox
            </a>
            <a role="button" class="btn btn-default btn-lg btn-block" href="{% url 'post_edit' item.url_code %}">
                <i class="fa fa-wrench" aria-hidden="true"></i> Edit Post
            </a>
            {% endif %}
            <br>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Details:</strong>
                    {{ item.details|linebreaks }}
                </li>
            </ul>
            <ul class="list-group">
                <a class="list-group-item" href="{% url 'store' item.user %}">
                    <strong>Seller:</strong>
                    <p class="pull-right">{{ item.user }}</p>
                </a>
                <a class="list-group-item" href="{% url 'list_cat' item.category.slug %}">
                    <strong>Category:</strong>
                    <p class="pull-right">{{ item.category.kor_name }}</p>
                </a> 
               <li class="list-group-item">
                    <strong>Location:</strong>
                    <p class="pull-right">{{ item.city }}</p>
                </li> 
            </ul>
        </div>
    </div>
</div>
{% if more_items %}
<div class="container">
    <h3>More From Seller
        <small>
            <a class="btn btn-default pull-right" href="{% url 'store' item.user %}" role="button">
                See more
            </a>
        </small>
    </h3>
    <div class="row">
        {% for item in more_items %}
        {% include 'card.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
