{% extends 'base.html' %}
{% block title %}
Manage
{% endblock %}

{% block content %}
{% load tags %}
{% thumb_url as t_url %}
<div class="container">
    <h3>
        Manage
        <small>
            <a class="btn btn-default pull-right" href="{% url 'store' request.user %}" role="button">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                Store Front
            </a>
        </small>
</div>
<div class="container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Image</th>
                <th>Title</th>
                <th>Category</th>
                <th>City</th>
                <th>Views</th>
                <th>Pub-Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            {% if item.is_removed or item.is_expired %}
            <tr class="danger">
            {% else %}
            <tr>
            {% endif %}
                <th>
                        {% if item.is_removed %}
                        Removed
                        {% elif item.is_expired %}
                        Expired
                        {% else %}
                        Active
                        {% endif %}
                    </th>
                    <th><a href="{% url 'post' item.url_code %}"><img class="img-manage" src="{{ t_url }}{{ item.itemimage_set.first }}"></a></th>
                    <th><a href="{% url 'post' item.url_code %}">{{ item.title }}</a></th>
                    <th><div class="text-nowrap">{{ item.category.kor_name }}</div></th>
                    <th><div class="text-nowrap">{{ item.city }}</div></th>
                    <th>{{ item.postview_set.all.count }}</th>
                    <th><div class="text-nowrap">{{ item.pub_date|date:"m/d/y"  }}</div></th>
                    {% if item.is_removed or item.is_expired %}
                    <th><a href="{% url 'post_repost' item.url_code %}">repost</a></th>
                    {% else %}
                    <th>
                        <div class="text-nowrap">
                            <a href="{% url 'post_edit' item.url_code %}">
                                edit
                            </a>
                            | 
                            <a href="" data-toggle="modal" data-target="#removeItem" data-title="{{ item.title }}" data-code="{{ item.url_code }}">
                                remove
                            </a>
                        </div>
                    </th>
                    {% endif %}
                </tr>
                {% endfor %}

                <div class="modal fade" id="removeItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Confirm Removal</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove this item?
                            </div>
                            <div class="modal-footer">
                                <form method="POST" action="{% url 'post_remove' %}"> {% csrf_token %}
                                    <input type=hidden value="code" name="item_code">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    <input type="submit" class="btn btn-danger" value="Yes, remove this item" name="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </tbody>
    </table>
</div>
{% endblock %}
