body {
    font-family: 'Roboto', sans-serif;
}
a {
    color: black;
}
a:focus, a:hover {
    color: black;
}
.material-icons {
    vertical-align: -14%;
}

/* header */
.navbar-lg {
    margin-bottom: 20px;
}

/* navbar-main */
.navbar-main {
    margin-top: 5px;
    margin-bottom: 5px;
}
.zip-change {
    margin-top: 10px;
}
.search {
    margin-top: 3px;
}
.nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}
.btn-post {
    margin-top: 2px;
}
.navbar-border {
    margin: 0px;
}
#buttonUser {
    text-decoration: none;
}
#buttonUser>h4 {
    cursor: pointer;
}
#buttonSearch>h4 {
    cursor: pointer;
}
.badge-red {
    background-color: #c9302c;
}

/* navbar-cat */
.navcat {
    padding: 0px;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: underline;
    background-color: transparent;
}
.nav>li>.navcat-new {
    padding-left: 0px;
}
.nav>li>.navcat-free {
    padding-right: 0px;
}

/* jumbotron */
.jumbotron {
    background-color: #333;
    color: white;
}

/* cards */
.card {
}
.thumbnail {
    padding: 1px;
}
.thumbnail .caption {
    padding-bottom: 0px;
}
.caption .title {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*pagination*/
.pagination>.page-number>a, .pagination>.page-number>a:hover {
    background-color: transparent;
    color: #777;
}

/*post*/
a.list-group-item {
    color: #333;
}

/*inbox*/
.inbox-media {
    width: 150px;
}
.compose-box {
    padding-bottom: 50px;
}

/*store_manage*/
.img-manage {
    height: 100px;
}
