/* base */
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 80px; /* equals footer height */
    background-color: #f5f5f5;
}
a {
    color: black;
}
a:focus, a:hover {
    color: black;
    text-decoration: none !important;
}
.material-icons {
    vertical-align: -14%;
}

/* input focus */
.form-control:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
}
/* label */
.label-success-o {
    background-color: transparent;
    color: #5cb85c;
    border: #5cb85c;
    border-style: solid;
    padding: .1em .6em;
}

/* header */
header {
    background-color: white;
}
.img-logo {
    margin-bottom: 5px;
}
.navbar-lg {
    margin-bottom: 20px;
}
.navbar-xs {
    margin-bottom: 15px;
}

/* navbar-main */
.navbar-main {
    padding-top: 5px;
    padding-bottom: 5px;
}
.zip-change {
    margin-top: 10px;
}
.search {
    margin-top: 3px;
}
.nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}
.btn-post {
    margin-top: 2px;
}
.navbar-border {
    margin: 0px;
}
#buttonUser {
    text-decoration: none;
}
#buttonUser>h4 {
    cursor: pointer;
}
#buttonSearch>h4 {
    cursor: pointer;
}
.badge-red {
    background-color: #c9302c;
}

/* navbar-cat */
.navcat {
    padding: 0px;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: underline;
    background-color: transparent;
}
.nav>li>.navcat-new {
    padding-left: 0px;
}
.nav>li>.navcat-free {
    padding-right: 0px;
}

/* jumbotron */
.jumbotron {
    background-color: #333;
    color: white;
}

/* cards */
.card {
}
.thumbnail {
    padding: 1px;
}
.thumbnail .caption {
    padding-bottom: 0px;
}
.caption .title {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*pagination*/
.pagination>.page-number>a, .pagination>.page-number>a:hover {
    background-color: white;
    color: #777;
}
.pagination-lg>li>a, .pagination-lg>li>a:hover, .pagination-lg>li>a:focus {
    color: #333;
}
.pagination-lg>.disabled>a {
    color: #333;
}

/*post*/
.btn-margin {
    margin-top: 5px;
}
a.list-group-item {
    color: #333;
}
#map {
    height: 300px;
}

/* fotorama */
.fotorama__thumb-border {
    border-color: #5cb85c;
}

/*inbox*/
.inbox-media {
    width: 100px;
}
.compose-box {
    padding-bottom: 50px;
}

/*store_manage*/
.img-manage {
    height: 100px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    color: white;
    background-color: #333;
}
